body {
	font-family: 'Open Sans', Sans-serif;
}

a, .fa, .blue {
	color: #1c56a6;
}

img {
	border-radius: 15px;
}

a:hover {
	text-decoration: none;
}

.navbar {
	font-weight: 800;
}

.navbar-brand {
	font-size: 1.5rem;
	color: #1c56a6 !important;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: rgba(28,86,166,0.9) !important;
}

.navbar-custom .navbar-nav .nav-link {
	color: rgba(28,86,166,0.5) !important;
}

.container {
	background: white;
	padding: 0px 70px 0px 70px
}

.container.main.about {
	margin-top: 0;
	padding-bottom: 0;
}

.container.nav {
	padding-top: 80px;
}

/*.container.img-card {
	margin-bottom: 30px;
}*/

.container.img-card img {
	border-radius: 25px;
}

.container.logo-banner {
	background: url('../img/bannerlogoMk2s.svg');

	padding: 0px;
	
	min-height: 510px;
	min-width: 98%;

	margin-top: 40px;
	margin-left: 1%;
	margin-right: 1%;

	border-radius: 3rem; 

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.intro-text {
  max-width: 48%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 70px;
  line-height: 1.6rem;
  padding-left: 80px;
  padding-right: 0px;
}

.container.logo-banner, .intro-text p {
	color: #f5f5f5;
	font-size: 1rem;
	line-height: 2rem;

	text-shadow: 0px 3px 8px #000;
}

.intro-text p {
	color: #f1f1f1;
	/*text-shadow: 0.2px 2.2px 1px #070707;*/
}

/* TODO: add overlay */

.rounded-circle.profile-photo {
	margin-top: 60px;
}

h1.my-approach {
	padding-bottom: 30px;
}

.hi-my-name {
	font-size: 2.1rem;
	margin-bottom: 20px;
}


.my-hr {
	border: none;
	height: 1px;
}

.section-hr {
	color: #ccc;
	background-color: #ccc;
}

.bio-hr {
	margin-top: -15px;
	margin-bottom: 40px;
	width: 160px;
	color: #1c56a6;
	background-color: #1c56a6;
}

.process-hr {
	margin-bottom: 25px;
	width: 40px;
	color: #1c56a6;
	background-color: #1c56a6;
}

.fa {
	margin-top: 15px;
}

.top-3-hr {
	margin-top: 0;
	margin-top: 45px;
	margin-bottom: 50px;
	color: #ccc;
	background-color: #ccc;
}

.footer-hr {
	width: 100%;
	color: #999;
	background-color: #999;
}

.hr-full-width {
	width: 72.5%;
}

.card-title {
	font-weight: 800;
	font-size: 1.2rem;
}

.card-text, .project-info, a .read-more {
	line-height: 1.3;
	color: black;
}

.card-body {
	padding-left: 0;
}

/* custom underline */
.card-body a, 
.resume a,
.contact-me a, 
.behance a, 
.drop-me a,
.linkedin a {
	color: black;
	border-bottom: 1px solid black;
	padding-bottom: 0.8px;
}

.card.h-100 {
	border: none;
}

/* ==== rounded corners ==== */

/* cancel out global image rounding on line 9 */
.illustration img {
	border-radius: 0px;
}



.illu-1-rc {
	-webkit-clip-path: inset(15px 0px 0px 15px round 25px 0 0 0);
	padding: 0px 4px 4px 0px !important;
}

.illu-2-rc {
	-webkit-clip-path: inset(15px 0 0 0 round 0 0 0 0);
	padding: 0px 4px 4px 4px !important;
}

.illu-3-rc {
	-webkit-clip-path: inset(15px 15px 0px 0px round 0 25px 0 0);
	padding: 0px 0px 0px 4px !important;
}

.illu-4-rc {
	-webkit-clip-path: inset(0 0 15px 15px round 0 0 0 25px);
	padding: 4px 4px 0px 0px !important;
}

.illu-5-rc {
	-webkit-clip-path: inset(0 0 15px 0 round 0 0 0 0);
	padding: 4px 4px 0px 4px !important;
}

.illu-6-rc {
	-webkit-clip-path: inset(0 15px 15px 0 round 0 0 25px 0);
	padding: 4px 0px 0px 4px !important;
}






/* ==== margin classes ==== */
.margin-top-15 {
	margin-top: 15px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-45 {
	margin-top: 45px;
}

.margin-top-60 {
	margin-top: 60px;
}

.margin-bottom-0 {
	margin-bottom: 0 !important
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-45 {
	margin-bottom: 45px;
}

.margin-bottom-60 {
	margin-bottom: 60px;
}

.line-height-1-8 {
	line-height: 1.8;
}

h3.my-4 {
	margin-bottom: 50px !important;
}

.py-5 {
	padding-top: 2rem !important;
	padding-left: 15px;
	padding-right: 15px;
}

/* ==== padding classes ==== */

.padding-top-15 {
	padding-top: 15px;
}

.padding-top-30 {
	padding-top: 30px;
}

.padding-bottom-15 {
	padding-bottom: 15px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.padding-bottom-30 {
	padding-bottom: 30px;
}

.padding-bottom-45 {
	padding-bottom: 45px;
}

.two-column-padding.left-4 {
	padding-left: 4px;
}

.two-column-padding.right-4 {
	padding-right: 4px;
}

.caption {
	font-size: 0.8rem;
	margin-top: 15px;
	color: black;
}

.previous-next {
	font-size: 0.7rem;
}

.text-previous {
	text-align: left;
}

.text-next {
	text-align: right;
}


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form-control {
	background-color: #f1f1f5;
	border: 1px solid #f1f1f5;
}

.form-group {
	margin-bottom: 1.2rem;
}

input {
	border-radius: 25px !important;
}

label {
	margin-bottom: 0.3rem;
}

/*s end button on contact form */
.btn-custom {
	margin-top: 0.3rem;
	padding: 10px 35px 10px 35px;

	background-color: #fff;
	border-color: #1c56a6;
	border-width: 2px;

	color: #000;
	font-size: 0.9rem;
	font-weight: 600;

	border-radius: 25px;
	
}

.btn-custom:hover {
	background-color: #1c56a6;
	color: #fff;
}

label.error {
	background-color: #cb363b;
	color: #fff;
	font-size: 0.7rem;

	margin-top: 10px;
	padding: 4px 8px 4px 8px;
}

textarea:focus, input:focus, .uneditable-input:focus, .navbar-toggler:focus {   
    border-color: rgba(44,91,177,0.8) !important;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.9) !important;
    outline: 0 none !important;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.design-process {
	background-color: #1c56a6;
	color: white;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom: 20px;
	border-radius: 5px;
}

.font-size-095 {
	font-size: 0.95rem;
}

.questionnaire {
	line-height: 1.6rem;
	padding-bottom: 45px;
}

.illustration {
	/*padding-top: 15px;
	padding-bottom: 15px;*/
}

.blur-bg {
	filter: blur(4px);
}

.modal-content {
	background-color: rgba(255,255,255,0.8);
	
	border: none;
	border-radius: 15px;
}

.modal-footer {
	justify-content: flex-start;
	padding-top: 0;
	border: none;
	font-size: 0.8rem;
}



/* drop shadow for modal arrow icons */
.ekko-lightbox-nav-overlay a:first-child span,
.ekko-lightbox-nav-overlay a:last-child span {
	color: #f1f1f1;
	background-color: #1c56a6;

	
	border-radius: 25px;
	max-width: 45px
}

.ekko-lightbox-nav-overlay a:first-child span {
	padding-left: 12.5px;
}

.ekko-lightbox-nav-overlay a:last-child span {
	padding-left: 15px;
	padding-right: 12.5px;
	margin-left: auto;
}

.navbar-toggler {
	border-color: #1c56a6 !important;
	background-color: #1c56a6 !important;
	padding: 8px 7px 10px 7px;
}

.navbar-menu-word {
	font-size: 0.8rem;
	color: rgba(255,255,255,0.9);
}

/* =============================================================== */
/* =============================================================== */
/* =============================================================== */
/* ======================== Media queries ======================== */
/* =============================================================== */
/* =============================================================== */
/* =============================================================== */

@media only screen and (max-width: 576px) {
	.text-previous, .text-next {
			text-align: center;
		}
}

@media only screen and (max-width: 640px) {
		.container {
				padding: 0px 15px 10px 15px;
				margin-top: 0;
		}

		.container.nav {
				padding: 0px 0px 20px 0px;
		}

		.container.logo-banner {
				max-width: 98%;
				margin-top: 0;
				margin-left: 1%;
				margin-right: 1%;
				min-height: 250px;
				border-radius: 15px;
		}

		.container.footer {
			padding-left: 0;
			padding-right: 0;
		}

		.hi-my-name {
			font-size: 1.6rem;
		}

		.intro-text {
			max-width: 90%;
			padding-left: 15px;
			padding-right: 15px;
		}

		.hr-full-width {
			width: 98%;
		}
}


@media only screen and (min-width: 576px) and (max-width: 640px) {

	.container.nav, .container.img-card {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {

	.container {
			padding: 0px 20px 10px 20px;
	}

	.intro-text {
		max-width: 50%;
		margin-left: 10%;
		margin-right: 40%;
	}
}

@media only screen and (max-width: 768px) {
	.illu-1-rc, .illu-2-rc, .illu-3-rc,
	.illu-4-rc, .illu-5-rc, .illu-6-rc {
		-webkit-clip-path: inset(15px 15px 15px 15px round 25px 25px 25px 25px);
		padding: 0 !important;
	}

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .illu-2-rc {
		-webkit-clip-path: inset(15px 15px 0 0 round 0 25px 0 0);
		padding: 0px 4px 0px 4px !important;
	}

	.illu-3-rc {
		-webkit-clip-path: inset(0 0 0 15px round 0 0 0 0);
		padding: 4px 4px 4px 0 !important;
	}

	.illu-4-rc {
		-webkit-clip-path: inset(0 15px 0 0 round 0 0 0 0);
		padding: 4px 0 4px 4px !important;
	}

	.illu-5-rc {
		-webkit-clip-path: inset(0 0 15px 15px round 0 0 0 25px);
		padding: 4px 4px 0px 4px !important;
	}
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
		.intro-text {
			padding-left: 15px;
			padding-right: 15px;
		}
}

@media only screen and (min-width: 640px) and (max-width: 992px) {

	.container.nav, .container.img-card {
			padding: 0px;
			max-width: 84%;
			margin-left: 8%;
			margin-right: 8%;
	}

	.container.nav {
		padding-top: 80px;
	}

	.container.logo-banner {
		min-height: 380px;
		border-radius: 25px;
	}
}

@media only screen and (max-width: 992px) {
	.two-column-left-rc, .two-column-right-rc, .three-column-left-rc, .three-column-middle-rc, .three-column-right-rc {
			border-radius: 15px;
	}

	.mobile-remove-side-padding {
			padding-right: 15px !important;
			padding-left: 15px !important; 
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.two-column-padding-left {
		padding-right: 7.5px;
	}

	.two-column-padding-right {
		padding-left: 7.5px;
	}

	.two-column-left-rc {
		border-radius: 25px 0px 0px 25px;
	}

	.two-column-right-rc {
		border-radius: 0px 25px 25px 0px;
	}
}

@media only screen and (min-width: 1200px) {
	.row.three-column-padding {
		padding-left: 11px;
		padding-right: 11px;
	}
	.row > .three-column-padding {
		padding-left: 4px;
		padding-right: 4px;
	}

	.three-column-left-rc {
		border-radius: 25px 0px 0px 25px;
	}

	.three-column-middle-rc {
		border-radius: 0px;
	}

	.three-column-right-rc {
		border-radius: 0px 25px 25px 0px;
	}
}

@media only screen and (min-width: 1260px) {
	.container.logo-banner {
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 50px;
	}


}






